*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(img/Bitmap.png);
}
.btn-custom{
    background-color: #473BF0;
    color: white;
    border-radius: 6px;
    padding: 10px 20px;
}
.hero-section{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.hero-text h1{
    font-weight: 700;
    color: #1a1a2e;
}
.hero-text p{
    color: #555;
}
.circle-img{
    border-radius: 100%;
    overflow: hidden;
    max-width: 650px;
    height: 650px;
    margin: auto;
}
/*second part*/
.services-card{
    border-radius: 10px;
    color: #fff;
    padding: 30px;
    text-align: center;
}
.green-card{
    background-color: #68D585;
}
.blue-card{
    background-color: #473BF0;
}
.red-card{
    background-color: #F64B4B;
}
.services-card h5{
    margin-top: 15px;
    font-weight: 600;
}
.services-card p{
    font-size: 14px;
    opacity: 0.9;
}
.testi{
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-top: 50px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0);
}
.testi img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.stars{
    color: #ffc107;
}
/* third section */

.story-section{
    padding: 70px 0;
}
.story-section h2{
    font-weight: 700;
    color: #111;
}
.story-section p{
    color: #555;
    line-height: 1.6;
}
.stats h3{
    font-weight: 700;
    color: #000;
}
.stats p{
    color: #555;
    margin-bottom: 0;
}
/*fourth section*/
.dot-pattern {
    width: 50px;
    height: 60px;
}

.dot-pattern img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* fifth part */
.section-title{
    text-align: center;
    margin-bottom: 50px;
}
.project-card{
    width: 100%;
    border-radius: 10px;
}

.category{
    font-size: 14px;
    color: #6c757d;
    margin-top: 15px;
}
.project-title{
    font-weight: 600;
    font-size: 18px;
}

/* six part */
.testimonial-section{
    background-color: #473BF0;
    color: white;
    padding: 80px 20px;
    text-align: center;
}
.testimonial-section h6{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    opacity: 0.7;
}
.testimonial-section p{
    font-size: 20px;
    font-weight: 500;
    max-width: 700;
    margin: 20px auto;
}
.testimonial-section img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 20px;
}
.testimonial-section h6 .name{
    font-weight: 600;
    margin-top: 10px;
}
.testimonial-section small{
    opacity: 0.8;
}
.cta-section{
    background-color: #1b1b1f;
    color: white;
    padding: 60px 20px;
    text-align: center;
}
.cta-section .btn{
    background: #635bff;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    font-weight: 500;
}
.footer{
    background-color: #111113;
    color: #ccc;
    padding: 60px 20px;
}
.footer span{
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}
.footer h5{
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}
.footer a{
    color: #aaa;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
}
.footer .brand{
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
    display: block;
}
